

  body {
    background-color: ivory;
    background-image: url(backgroundpic.jpg);
    width: 500px;
    height: 300px;
    margin-top: 30px;
    margin-left: 500px;


  }

  #Chatapp {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: orangered;


  }

  #message-box {
    color: deeppink;
    height: 90px;
    width: 250px;
    

  }

  #message-number {
    color: deeppink;
    font-size: 20px;
    font-weight: bold;
    height: 75px
    display: flex;





  }